
body {
  font-family: 'Lora', serif;
}

.imagenMarca{
 width: 200px;
 height: 200px;
 display: flex;
justify-content: center;

}

.primerParrafo {
  color: white;
  font-size: 100%;
  text-align: center;
  background-color: black;
  overflow: hidden;
  letter-spacing: 5px;
  padding: 20px;
  border: 0px;
  margin: 0px;
  display: block;
  
  
  

}

.imagenesUno{
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  display: inline;

}



.parrafoPag {
  color: black;
  font-size: 120%;
  text-align: center;
  background-color: white;
  overflow: hidden;
  letter-spacing: 5px;
  padding: 50px;
  border: 0px;
  margin: 0px;
  display: block;
}
  


.divUno {
  color: black;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  background-color: white;
  overflow: hidden;
  letter-spacing: 0px;
  padding: 50px;
  border: 0px;
  margin: 0px;
  display: block;
}

.subtituloMuccia {
  color: black;
  font-size: 200%;
  font-weight: bold;
  text-align: center;
  background-color: white;
  overflow: hidden;
  letter-spacing: 0px;
  padding: 50px;
  border: 0px;
  margin: 0px;
  display: block;
}


.tituloPrincipal {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 250%;
  font-weight: bold;
  background-color:white; 
  
}


.listaMenu {
  list-style: none;
  padding: 0;
  background-color: rgb(182, 182, 178);
  width: 90%;
  max-width: 1000px;
  margin: auto;
  
  

}

.listaMenu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}

.listaMenu li {
  display: inline-block;
  text-align: center;
}

.listaMenu li a:hover {
  background-color: wheat;
}


.asideUno {
  text-align: center;
  color: black;
  padding: 30px;
  font-size: 120%;
  ;
}


.asideTit {
  font-size: 200%;
}

.asideNew {
  text-align: center;
  width: 650px;
  height: 20px;
  font-size: 20px;
  color: rgb(122, 120, 120);
  position: absolute;
  
}

.asideInputenviar {
  text-align: center;
  width: 150px;
  height: 30px;
  font-size: 25px;
  position: absolute;
  color: rgb(68, 67, 67);
  display: inline-block;
}


.footerFin {
  color: black;
  font-size: 110%;
  text-align: center;
  background-color: rgb(199, 199, 199);
  overflow: hidden;
  letter-spacing: 5px;
  padding: 10px;
  border: 0px;
  margin: 30px 0px 0px 0px;
  box-sizing: border-box;
  display: block;
}


.formContacto { 
  color: rgb(0, 0, 0);
  font-size: 120%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  letter-spacing: 0px;
  padding: 70px;
  margin: 0px;
  display: block;
  

}

.titHcont {
  color: rgb(0, 0, 0);
  font-size: 180%;
  text-align: center;
 
}


.bodyProductos {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header main footer";

}
.headerProductos {
  grid-area: header;
}

.mainProductos {
  grid-area: main;
  text-align: center; 

}

.footerProductos {
  grid-area: footer;
  background-color: rgb(184, 184, 184);
  text-align: center;

}


.imagProducto {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-between;
  align-content: space-between;
 
}
.imgProduno{
 position: relative;
 top: 5px;
 left: 10px;
}


.historiaN {
  background-color: rgb(240, 236, 230);
}

.historiaN h1{
  font-size: 30px;
  text-align:center;
  padding: 15px 0;
  margin: 0;

}

.arosImagen {
  width: 400px;
  height: 400px;
}

.divNosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.divNosotros p {
  font-size: 20px;
  margin: 30px;
  padding: 15px;
  
}


@media screen and (max-width: 768px) {
  .bodyProductos {
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);

   grid-template-areas: 
   "header main"
   "footer footer";
  } 
 }

 .mainProductos img {
  width: 250px;
 }
 
 @media screen and (max-width:500px) {
  .bodyProductos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 0.3fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
  }

  .mainProductos img {
    width: 200px;

  }
  
 }


 .bodyContacto {
  display: grid;
  grid-template-columns: 0.2fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header main footer";
 } 

.headerContacto {
  grid-area: header;
  
}

.mainContacto {
  grid-area: main;
  display: flex;
  flex-direction: column;
  text-align: center;

}


.footerContacto {
  grid-area: footer;
  background-color: rgb(184, 184, 184);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}


@media screen and (max-width:500px){
  .bodyContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 2fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    text-align: center;
  }
  
}

.imagenHover:hover {
 width: 300px;
}

.parrafoHover:hover {
  font-size: 25px;
}

.inputFocus:focus{
  height: 20px;
  background-color: rgb(240, 237, 232);
}
